body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 62px;
    color: #FFFFFF;
}

.text-box p {
    font-size: 20px;
    color: white;
    justify-content: center;
    color: #FFFFFF;
    line-height: 32px;


}

.btn {
    background: #FF5959;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;

}

.donate-section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.donate-section p {
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.block-section {
    display: inline-block;
    background-color: #FAFAFA;
    margin: 20px;
    width: 135px;
    height: 123px;
    left: 338px;
    top: 979px;
    justify-content: center;
    border-radius: 5px;

}

#custom-block {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;

}

#customh1 {
    color: #FF5959
}


.text-block {
    padding: 20px 20px 20px 20px;
    color: #707070;
}

input[type=text] {
    width: 100%;
    padding: 2px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
}

.lebel-style {
    color: gray;
}

.donate-plan-section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}


.donate-plan-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.donate-plan-section p {
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.block-section2 {
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 352px;
    /* left: 157px; */
    /* top: 1595.5px; */
    justify-content: center;
    border-radius: 5px;
    background-color: #FAFAFA;

}

.block-section2 img {
    padding: 30px 20px 20px 0px;

}

.block-section2 p {
    font-size: 14px;

}

#customcolor1 {
    background-color: rgba(79, 157, 166, 0.1);
}

#customcolor2 {
    background-color: rgba(255, 89, 89, 0.1);

}

#customcolor3 {
    background-color: #ddb271;
    ;

}

footer {
    background: #0B0D17;
    height: 200px;
    text-align: center;

}

footer h2 {
    color: #FF5959;
    font-weight: bold;
    font-family: 'Lobster';
    padding: 20px;

}

footer h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Manrope';
}